<!--
  Generated template for the PizzamenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="header">
      <button ion-button menuToggle>
          <ion-icon  name="menu"></ion-icon>
        </button>
      <ion-buttons end>
     
    </ion-buttons>
    <ion-title text-center>Notification</ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="icontent">
    <ion-list>
        <ion-card class="pizzacard animated bounceInDown" >
              <ion-row>
                  <ion-col col-5>
                      <ion-thumbnail item-start padding>
                          <img src="./assets/imgs/noty2.png" alt="">
                       
                      </ion-thumbnail>
                  </ion-col>
                  <ion-col>
                      <div class="details">
                          <h2>baby memorial hospital</h2>
                          <p text-wrap>Address: Arayidathupalam Junction, Arayidathupalam, Kozhikode, Kerala 673004</p>
                        </div>
                  </ion-col>
                </ion-row>
        </ion-card>
        <ion-card class="pizzacard animated bounceInDown" >
            <ion-row>
                <ion-col col-5>
                    <ion-thumbnail item-start padding>
                        <img src="./assets/imgs/noty2.png" alt="">
                     
                    </ion-thumbnail>
                </ion-col>
                <ion-col>
                    <div class="details">
                        <h2>aster mims</h2>
                        <p text-wrap>Address: Mini Bypass Rd, Govindapuram, Kozhikode, Kerala 673016</p>
                      </div>
                </ion-col>
              </ion-row>
      </ion-card>
      <ion-card class="pizzacard animated bounceInDown" >
        <ion-row>
            <ion-col col-5>
                <ion-thumbnail item-start padding>
                    <img src="./assets/imgs/noty2.png" alt="">
                 
                </ion-thumbnail>
            </ion-col>
            <ion-col>
                <div class="details">
                    <h2>Matria Hospital
                    </h2>
                    <p text-wrap>Address: Kozhikode Bypass, Palazhi, Iringallur, Kerala 673014
                    </p>
                  </div>
            </ion-col>
          </ion-row>
  </ion-card>
  <ion-card class="pizzacard animated bounceInDown" >
    <ion-row>
        <ion-col col-5>
            <ion-thumbnail item-start padding>
                <img src="./assets/imgs/noty2.png" alt="">
             
            </ion-thumbnail>
        </ion-col>
        <ion-col>
            <div class="details">
                <h2>Fathima Hospital
                </h2>
                <p text-wrap>Address: Fathima Hospital Building, Bank Road, Kozhikode, Kerala 673001
                </p>
              </div>
        </ion-col>
      </ion-row>
</ion-card>




        
    </ion-list>
  </div>

</ion-content>
