



<ion-content>
  <div class="icontent" padding-vertical>
      <div class="logoholder animated pulse" text-center>
          <img src="assets/imgs/15.jpg" alt="">
          </div>
          <div class="detailsholder" text-center padding>
              <ion-item>
              <span  item-left><ion-icon name="ios-mail-outline"></ion-icon> </span>
              <ion-input  [(ngModel)]="email" class="email" placeholder="EMAIL"> </ion-input>
            </ion-item>
              <ion-item>
                  <span  item-left><ion-icon name="ios-lock-outline"></ion-icon> </span>
              <ion-input  [(ngModel)]="password"  class="password"type="password" placeholder="PASSWORD"></ion-input>
            </ion-item>
            </div>

            <div class="butnsholder" padding>
                <button  class="loginbtn" color="light" ion-button block (click)="Login()">LOGIN</button>
                <!-- <button  class="registerbtn" color="light" ion-button block (click)="goSignup()">Register</button> -->
                
            </div><br>
            <p class="brand"><i>Powerd by pintaka..</i></p>

  </div>
</ion-content>
