page-register {

    .icontent
    {
        z-index: 1;
        position: relative;
    }

    .detailsholder
     {
         ion-item{
            border-radius: 25px !important;
            margin-left: -0.1rem;
          padding-left: 30px !important;
          font-size: 1.2em;
          margin-bottom: 8px;
          border-bottom: 0px !important;
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.103) !important;
          height: 20px;

          ion-input{
              padding-bottom: 25px;
          }
         }
         
         ion-label{
            margin-bottom: 5px;
            font-size: 0.8em;
            color: #E30025 !important;
        }
     }

     .butnsholder{
        .loginbtn{
            border-radius: 25px;
            color: #ffffff!important;
            font-size: 1.5em;
        height: 50px;
        background-color: #E30025;
    
            
        }
    }

    .onimage
    {
        z-index: 2;
        height: 10vh;
        width: 40%;
       // margin-right: 10%;
        margin-top:-80vh;
     //  background-color: #F24E86;
        position: absolute;
    
    }
}
