<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="header">
      <button ion-button menuToggle>
          <ion-icon  name="menu"></ion-icon>
        </button>
      <ion-buttons end>
     
    </ion-buttons>
    <ion-title text-center>Submit Report</ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="icontent">
    <div class="detailsholder" padding>
        <ion-label text-left padding-horizontal>Hospital Name</ion-label>
        <ion-item padding>
            <ion-input  [(ngModel)]="FullName" class="username" placeholder="Aster"> </ion-input>
          </ion-item>
          <ion-label  text-left padding-horizontal>Location</ion-label>
          <ion-item padding>
              <ion-input  [(ngModel)]="Username" class="username" placeholder="Dubai"> </ion-input>
            </ion-item>
          <ion-label  text-left padding-horizontal>Equipment Name</ion-label>
          <ion-item padding>
              <ion-input [(ngModel)]="email" class="email" placeholder="X-ray"> </ion-input>
            </ion-item>
          <ion-label  text-left padding-horizontal>Serial No</ion-label>
          <ion-item padding>
              <ion-input [(ngModel)]="password" class="password" placeholder="TrW342u"> </ion-input>
            </ion-item>
          <ion-label  text-left padding-horizontal>Manufacture No</ion-label>
          <ion-item padding>
              <ion-input [(ngModel)]="Telephone" class="telephone" placeholder="458DSDFR"> </ion-input>
            </ion-item>
          <ion-label  text-left padding-horizontal>Address</ion-label>
          <ion-item padding>
              <ion-input [(ngModel)]="address" class="address" placeholder=""> </ion-input>
            </ion-item>
    </div>

    <div class="butnsholder" padding-horizontal>
        <button  class="loginbtn" color="light" ion-button block (click)="Register()">Register</button>
        
        
    </div>
</div>

<div class="onimage" text-center *ngIf="trigger">
  
    <lottie-animation-view
    [options]="lottieConfig"
    [width]="400"
    [height]="700"
    (animCreated)="handleAnimation($event)">
</lottie-animation-view>

</div>

</ion-content>
