<ion-menu [content]="content">
<!--   <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content style="background-color: #108fd2!important">
      <div text-center class="imgholder" padding>
          <img src="assets/imgs/icon.png" alt="">
        </div>
    <ion-list>
      <button color="menufont" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon padding-horizontal name={{p.icon}}></ion-icon>
        {{p.title}}
      </button>
      <button color="menufont" menuClose ion-item (click)="logout()">
          <ion-icon padding-horizontal name="ios-power-outline"></ion-icon>
       Logout
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>