<!--
  Generated template for the CheckoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="lred">
    <ion-title text-center>Checkout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="icontent" padding>
    <ion-card padding-vertical>
      <ion-card-header >
       <h2 style="margin: 0 !important; color: #E30025"> Deliver address</h2> 
      </ion-card-header>
      <h2 padding-horizontal>John Doe,</h2>
      <p padding-horizontal>No 123,1st lane,abc town,Melborn</p>
    </ion-card>
     <ion-card>
          
        <ion-list radio-group [(ngModel)]="payMethods">

            <ion-list-header style="color: #E30025">
              Payment Options
            </ion-list-header>
          
            <ion-item>
              <ion-label>Credit/Debit Card</ion-label>
              <ion-radio value="cord"></ion-radio>
            </ion-item>
          
            <ion-item>
              <ion-label>Payment Gateways</ion-label>
              <ion-radio value="duesenberg"></ion-radio>
            </ion-item>
          
            <ion-item>
              <ion-label>Cash On Delivery</ion-label>
              <ion-radio value="hudson"></ion-radio>
            </ion-item>
          </ion-list>
          
      </ion-card>

      <div class="butnsholder" padding-horizontal>
          <button  class="loginbtn" color="light" ion-button block (click)="showPopup()">Pay</button> 
      </div>
  </div>

</ion-content>
