<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="header">
      <button ion-button menuToggle  (click)=" openMenu()">
          <ion-icon  name="menu"></ion-icon>
        </button>
    <ion-title text-left><i>SAHEL MEDICAL SUPPLIES</i></ion-title>
 
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="icontent">
    <ion-list>
        <ion-card class="cardleft animated bounceInLeft" (click)="goPizza()">
            <ion-item>
                <ion-thumbnail item-start padding>
                      <img src="./assets/imgs/dash2.png" alt="">
                   
                  </ion-thumbnail>
                  <div class="details">
                  <h1>Notify</h1>
                </div>
            </ion-item>
        </ion-card>
        <ion-card class="cardleft animated bounceInLeft" (click)="goCart()">
            <ion-item>
                <ion-thumbnail item-start padding>
                      <img src="./assets/imgs/dash.png" alt="">
                   
                  </ion-thumbnail>
                  <div class="details">
                      <h1>Report</h1>
                
                </div>
            </ion-item>
        </ion-card>

   
    </ion-list>
  </div>

</ion-content>
