page-menu {

    .icontent{
        margin-top: 10vh;
    }

    .cardleft{
        margin-left: 0 !important;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-bottom: 20px !important;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.103);

        h1{
            color: #000000 !important;
            font-size:2.2em;
        }

    }


}
